@page "/customers/{id:int}"
@using Domain.Models
@using MudBlazorWebAssemblyApp.Client.Services
@inject ICustomerService Api

<h3>View CustomerId: @Id</h3>

@if (customer is null)
{
    <p>Loading...</p>
}
else
{
    @customer.Name
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Customer? customer;

    protected override async Task OnInitializedAsync()
    {
        // zla praktyka
        var bad = "api/customers/" + Id;

        // dobra praktyka
        var request = string.Format("api/customers/{0}", Id);

        customer = await Api.GetByIdAsync(Id);
    }

}
