@page "/contact"
@using BlazorWebAssemblyStandaloneApp.Components
@using Domain.Models

<h3>Contact</h3>


<AddressComponent Title="Adres biura:" Address="@WorkAddress" />
<AddressComponent Title="Adres koresp.:" Address="@ContactAddress" />

@code {
    private Address WorkAddress = new Address()
        {
            City = "Krakow",
            Street = "ul. Dworcowa 19"
        };

    private Address ContactAddress = new Address
    {
        City = "Warszawa",
        Street = "Al. Jerozolimskie"
    };

    // TODO: Dodaj adres dostawy np. ShippingAddress 

    
}

