@using Domain.Models

<div class="address">
    <p>@Title <br /> @Address.City @Address.Street</p>
</div>



@code {

    [Parameter]
    public Address Address { get; set; }

    [Parameter]
    public string Title { get; set; }

}
