@using Domain.Models

<TableComponent Items="@Customers">
    <HeaderTemplate>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </HeaderTemplate>

    <RowTemplate Context="customer">
        <tr>
            <td>@customer.Name</td>
            <td>@customer.Email</td>
        </tr>
    </RowTemplate>
</TableComponent>

@code {

    [Parameter]
    public List<Customer> Customers { get; set; }

}
