@page "/customers"

<h3>List</h3>

@if (customers is null)
{
    <p>Loading customers...</p>
}

else
{
   <CustomersTableComponent Customers="@customers" />
}


@code {
    private List<Customer>? customers;

    [Inject]
    private HttpClient Http { get; set; }

    protected override async Task OnInitializedAsync()
    {
        customers = await Http.GetFromJsonAsync<List<Customer>>("api/customers");
    }





}
