@page "/customers"
@using Domain.Models

<h3>List</h3>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var customer in customers)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td>Count: @customers.Count</td>
        </tr>
    </tfoot>
</table>



@code {
    private List<Customer>? customers = new List<Customer>();

    [Inject]
    private HttpClient Http { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // TODO: Przenies do Api
        customers = await Http.GetFromJsonAsync<List<Customer>>("api/customers");
    }

 



}
