@page "/customers"
@using Domain.Models

<h3>List</h3>

<ul>
    @foreach(var customer in customers)
    {
          <li>@customer.Name @customer.Email</li>
    }

</ul>



@code {
    private List<Customer> customers;

    protected override void OnInitialized()
    {
        // TODO: Przenies do Api
        //  customers = 

        throw new NotImplementedException();
    }



}
