@page "/customers"
@using Domain.Models

<h3>List</h3>

<ul>
    @foreach(var customer in customers)
    {
          <li>@customer.Name @customer.Email</li>
    }

</ul>



@code {
    private List<Customer>? customers = new List<Customer>();

    [Inject]
    private HttpClient Http { get; set; }

    protected override async Task OnInitializedAsync()
    {
        // TODO: Przenies do Api
        customers = await Http.GetFromJsonAsync<List<Customer>>("api/customers");
    }

 



}
